<html>

    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <style>

.hover-to-front:hover {
    z-index: 9999;
}

        </style>

        <title>Flasks Against Humanity</title>

    </head>
    <body>

        <div style="position: absolute; top: 0; left: 0;">
            <div class="card border-dark" style="height: 32rem; opacity: 0.6; overflow-y: hidden;" id="collapse">

                <div class="card-header">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="message_box" placeholder="Type Something..." aria-label="Type Something..." aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="send_message()" id="send_message">Send</button>
                        </div>
                    </div>
                </div>

                <div id="collapse">
                    <div class="card-body" style="min-height: 0; max-height: 30rem; overflow-y: scroll;" id="inbox-body">
                        <div class="d-flex flex-column align-bottom" id="inbox">

                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" href="#collapse" aria-expanded="true" aria-controls="collapse">
                Toggle Chat
            </a>
        </div>

        <div class="container text-center d-flex justify-content-center">
            <div class="card bg-dark text-white" style="width: 18rem; height: 16rem;">
                <div class="card-body">
                    <h4 class="card-title" id="blackcard">{{ game.card.text | safe }}</h4>
                </div>
            </div>
        </div>

        <ul class="list-group" style="position: absolute; top: 0; right: 0; width: 18rem;" id="players">
            <!--
                <li class="list-group-item d-flex justify-content-between align-items-center" id="{{ player.uuid }}">
                    <span class="badge badge-warning badge-pill"> </span>
                    {{ player.nickname }}
                </li>
            -->
        </ul>
        <br>

        <div class="d-flex justify-content-center text-center" style="overflow-x: scroll;" id="results">
        <!--
            <div class="card bg-light" style="width: 14rem; height: 16rem;">
                <div class="card-body">
                    <br>
                    <h5 class="card-title">Test</h5>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">
                        Choose
                    </a>
                </div>
            </div>
        </div>
        -->
        </div>

        <div class="row flex-row flex-nowrap justify-content-between fixed-bottom text-center" style="overflow-x: scroll;" id="deck">

            {% for card, index in player.hand | zip(range(player.hand.count())) %}
                <div class="card card-block bg-light" style="width: 14rem; height: 16rem; min-width: 14rem;">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title" id="content_{{ index }}">{{ card.card.text | safe }}</h5>
                    </div>
                    <div class="card-footer play-button">
                        <a href="javascript:play({{ index }})" class="card-link" id="play_card_{{ index }}">
                            Play Card
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div> <!-- end of card-deck -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>

var sock = io.connect("http://" + document.domain + ':' + location.port);
sock.emit('join');

var game_id = {{ game.id }};
var uuid_self = "{{ player.uuid }}";
var am_czar = false;

var players = {}


sock.on('ready', (uuid) =>
{
    console.log("player " + uuid + " has readied up");
    var user_item = document.getElementById(uuid);

    user_item.getElementsByTagName('span')[0].className = "badge badge-success badge-pill";

    create_show_card("", false, 0, 1);
});

sock.on('unready', function()
{
    var player_list = document.getElementById("players");

    for (element in player_list.children)
    {
        element.getElementsByTagName('span').className = "badge badge-warning badge-pill";
    }
});

sock.on('player_join', (nickname, uuid, czar, points) =>
{
    add_message("<strong>" + nickname + "</strong> has joined the game", "alert-success");

    if (!(uuid in players))
    {
        add_player(nickname, uuid, czar, points);
        players[uuid] = nickname;

        if (uuid == uuid_self)
        {
            am_czar = czar;

            if (czar)
            {
                for (var i = 0; i < 8; i++)
                {
                    document.getElementsByClassName("play-button")[i].style.opacity = 0
                }
            }
        }
    }
});

sock.on('player_leave', (uuid) =>
{
    add_message("<strong>" + players[uuid] + "</strong> has left the game", "alert-danger");

    player = document.getElementById(uuid);
    player.parentNode.removeChild(player);
});

sock.on('show_cards', (data) =>
{
    console.log("received show_cards event");

    drop("results");

    cards = data.split("\t")

    console.log(cards)
    for (var i = 0; i < cards.length; i++)
    {
        if (cards[i] != "")
        {
            single_cards = cards[i].split('\\');

            create_show_card(single_cards[0], am_czar, 0, single_cards.length);

            for (var j = 1; j < single_cards.length; j++)
            {
                create_show_card(single_cards[j], false, j, single_cards.length);
            }
        }
    }
});

sock.on('round_win', (data) =>
{
    console.log(players[data] + " has won the round");
    add_message("<strong>" + players[data] + "</strong> has won the round", "alert-warning")
});

sock.on('refresh', (cards, new_czar, new_black, points) =>
{
    console.log("refresh called")

    drop("players");
    drop("results");
    drop("deck");

    for (var uuid in points)
    {
        add_player(players[uuid], uuid, new_czar == uuid, points[uuid]);
    }

    hand = cards.split("\t");

    for (var i = 0; i < hand.length; i++)
    {
        create_hand_card(hand[i], i);
    }

    am_czar = (new_czar == uuid_self)

    if (am_czar)
    {
        for (var i = 0; i < 8; i++)
        {
            document.getElementsByClassName("play-button")[i].style.opacity = 0
        }
    }

    document.getElementById("blackcard").innerHTML = new_black;
});

function add_player(nickname, uuid, czar, points)
{
    var player_list = document.getElementById("players");

    var item = document.createElement("li");
    if (uuid == uuid_self)
    {
        item.className = "list-group-item d-flex justify-content-between align-items-center border border-success";
        item.style.zIndex = 9999;
    }
    else
    {
        item.className = "list-group-item d-flex justify-content-between align-items-center";
    }
    item.id = uuid;

    var icon = document.createElement("span");

    if (czar)
    {
        icon.className = "badge badge-info badge-pill";
    }
    else
    {
        icon.className = "badge badge-warning badge-pill";
    }

    var empty_badge = document.createTextNode(points);
    icon.appendChild(empty_badge);

    if (czar)
    {
        var text = document.createTextNode("(Czar)  " + nickname);
    }
    else
    {
        var text = document.createTextNode(nickname);
    }

    item.appendChild(icon);
    item.appendChild(text);

    player_list.appendChild(item);
}

function drop(element)
{
    var list = document.getElementById(element);
    while (list.firstChild)
    {
        list.removeChild(list.firstChild);
    }
}

function play(index)
{
    if (!am_czar)
    {
        sock.emit('play', index);

        for (
            var i = 0;
            i < 8;
            i++)
        {
            var el = document.getElementById("play_card_" + i);

            if (i == index)
            {
                el.style.setProperty("text-decoration", "line-through");
                el.style.setProperty("pointer-events", "none");
                el.parentNode.parentNode.style.opacity = 0.2;
            }
            else
            {
                el.style.setProperty("text-decoration", "");
                el.style.setProperty("pointer-events", "auto");
                el.parentNode.parentNode.style.opacity = 1;
            }
        }
    }
}

function create_show_card(text, czar, index, total)
{
    if (czar)
    {
        var choose = document.createTextNode("Choose");

        var link = document.createElement("a");
        link.href = "javascript:czar_select('" + text + "')";
        link.className = "card-link";
        link.appendChild(choose);

        var footer = document.createElement("div");
        footer.className = "card-footer";
        footer.appendChild(link);
    }

    var content = document.createElement("h5");
    content.className = "card-title"
    content.innerHTML = text;

    var br = document.createElement("br");

    var body = document.createElement("div");
    body.className = "card-body"
    body.appendChild(br);
    body.appendChild(content);

    var card = document.createElement("div");

    if (total == 1)
    {
        card.className = "card bg-light border-dark";
    }
    else if (index == 0)
    {
        card.className = "card bg-light border-dark border-right-0";
    }
    else if (index == (total - 1))
    {
        card.className = "card bg-light border-dark border-left-0";
    }
    else
    {
        card.className = "card bg-light border-dark border-top-0 border-bottom-0";
    }

    card.style.width = "14rem";
    card.style.height = "16rem";
    card.appendChild(body);

    if (czar)
    {
        card.appendChild(footer);
    }

    document.getElementById("results").appendChild(card);
}

function create_hand_card(text, index)
{
    var choose = document.createTextNode("Play Card");

    var link = document.createElement("a");
    link.href = "javascript:play(" + index + ")";
    link.className = "card-link";
    link.id = "play_card_" + index
    link.appendChild(choose);

    var footer = document.createElement("div");
    footer.className = "card-footer play-button";
    footer.appendChild(link);

    var content = document.createElement("h5");
    content.className = "card-title"
    content.innerHTML = text;
    content.id = "content_" + index

    var br = document.createElement("br");

    var body = document.createElement("div");
    body.className = "card-body"
    body.appendChild(br);
    body.appendChild(content);

    var card = document.createElement("div");
    card.className = "card card-block bg-light";
    card.style.width = "14rem";
    card.style.height = "16rem";
    card.style.minWidth = "14rem";
    card.appendChild(body);

    card.appendChild(footer);

    document.getElementById("deck").appendChild(card);
}

function czar_select(text)
{
    sock.emit('czar_select', text);
}



function send_message()
{
    tb = document.getElementById("message_box");

    text = tb.value;

    if (text == "")
    {
        return;
    }
    tb.value = "";

    sock.emit('send_message', text);
}

function add_message(text, style)
{
    s = document.createElement("div");
    s.className = "alert " + style;
    s.innerHTML = text;

    inbox = document.getElementById("inbox");
    inbox.insertBefore(s, inbox.firstChild);
}

var input = document.getElementById("message_box");

input.addEventListener("keyup", function(event) {
    event.preventDefault();

    if (event.keyCode === 13)
    {
        document.getElementById("send_message").click();
    }
});

function collapse()
{

    body = document.getElementById("inbox-body");

    if (body.style.width == "0px")
    {
        body.style.width = "20rem";
    }
    else
    {
        body.style.width = 0;
    }
}


sock.on('message', (uuid, message) =>
{
    add_message("<strong>" + players[uuid] + "</strong>: " + message, "alert-dark")
});

        </script>

    </body>

</html>
