<html>

    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <style>

.hover-to-front:hover {
    z-index: 9999;
}

.flip-card {
    -webkit-transition: width 2s, -webkit-transform 2s;
    -moz-transition: width 2s, -moz-transform 2s;
    -o-transition: width 2s, -o-transform 2s;
    transition: width 2s, transform 2s;
}

        </style>

        <title>Flasks Against Humanity</title>

    </head>
    <body style="overflow: hidden;">

        <div class="row">
            <div class="col col-2">
                <div class="card border-dark" style="height: 100vh; opacity: 0.6; overflow-y: hidden;" id="collapse">

                    <div class="card-header">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="message_box" placeholder="Type Something..." aria-label="Type Something..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="send_message()" id="send_message">Send</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="height: 30rem; max-height: 30rem; overflow-y: scroll;" id="inbox-body">
                        <div class="d-flex flex-column align-bottom" id="inbox">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-2">
                <ul class="list-group" id="players">
                    <!--
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="{{ player.uuid }}">
                            <span class="badge badge-warning badge-pill"> </span>
                            {{ player.nickname }}
                        </li>
                    -->
                </ul>
            </div>
            <div class="col col-6">

                <div class="container">
                    <br><br>
                    <div class="row justify-content-center">
                        <div class="text-center d-flex justify-content-center" style="width: 24rem;">
                            <h2 class="card-title" id="blackcard"><strong>{{ game.card.text.replace('_', '______') | safe }}</strong></h2>
                        </div>

                    </div>
                    <br><br><br><br><br><br>
                    <div class="row">

                        <div class="d-flex justify-content-start text-center" style="overflow-x: auto;" id="results">

                            {% for x in range(16) %}
                            <div class="card bg-light" style="min-width: 14rem; width: 16rem; height: 18rem;">
                                <div class="card-body">
                                    <br>
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="card-link">
                                        Choose
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>
            <div class="col col-2">

                <div class="text-center" style="overflow-y: auto; max-height: 100vh;" id="deck">

                    {% for card, index in player.hand | zip(range(player.hand.count())) %}
                        <div class="card bg-light" style="height: 12rem; min-width: 12rem;">
                            <div class="card-body">
                                <br>
                                <h5 class="card-title" id="content_{{ index }}">{{ card.card.text | safe }}</h5>
                            </div>
                            <div class="card-footer play-button">
                                <a href="javascript:play({{ index }})" class="card-link" id="play_card_{{ index }}">
                                    Play Card
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div> <!-- end of card-deck -->

            </div>
        </div>


        <script src="{{ url_for('static', filename='main.js') }}" uuid="{{ player.uuid }}" game="{{ game.id }}"></script>

    </body>

</html>
