{% extends "base.html" %}
{% block content %}
    <body>
        <div style="
            overflow: hidden;
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;">
            <img style="
            height: 100vh;
            object-fit: contain;
            overflow: hidden;
            " src="{{ background }}">
        </div>

        <div class="row" style="width: 100%; height: 100%; display: flex; align-items: center;">
            <div class="col-lg-5 col-md-4 col-sm-2">

            </div>
            <div class="col-lg-2 col-md-4 col-sm-8 col-xs-12 card">
                <div class="card-body">
                    <h3 class="card-title">Create Game</h3>
                    <br>
                    <form method="POST">
                        <div class="form-group">
                            <label for="nickname">Nickname</label>
                            {% if errors %}
                                <input name="nickname" type="text" class="form-control is-invalid" id="nickname" placeholder="Nickname">
                            {% else %}
                                <input name="nickname" type="text" class="form-control" id="nickname" placeholder="Nickname">
                            {% endif %}
                            <div class="invalid-feedback">
                                Please choose a nickname.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                            <small class="form-text text-muted">Optional</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Game</button>
                    </form>
                </div>
            </div>

        </div>

    </body>
{% endblock %}
