<html>

    <head>

        <title>Create Account</title>

    </head>
    <body>

        {% for error in errors %}

            <p>{{ error }}</p>

        {% endfor %}

        <form method="post">

            <p>Please enter a nickname</p>
            <input type="text" name="nickname"></input>

            {% if password %}
            <p>Please enter the game password</p>
            <input type="password" name="password"></input>
            {% endif %}

            <input type="submit" value="Go!"></input>

        </form>

    </body>

</html>
